@charset "UTF-8";

@font-face {
	font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"), url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"), url("../fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"), url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/RobotoSlabThin/RobotoSlabThin.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabThin/RobotoSlabThin.woff") format("woff"), url("../fonts/RobotoSlabThin/RobotoSlabThin.ttf") format("truetype");
}

@font-face {
	font-family: "Alice";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AliceRegular/AliceRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/AliceRegular/AliceRegular.woff") format("woff"), url("../fonts/AliceRegular/AliceRegular.ttf") format("truetype");
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}

body input:required:valid,
body textarea:required:valid {
	color: #666;
}

html {
	overflow-x: hidden;
}

body {
	min-width: 320px;
	position: relative;
	font-family: "RobotoSlab";
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #4a4a4a;
	overflow-x: hidden;
	backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

section {
	position: relative;
}

srtong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

p {
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}

.stick {
	display: block;
	margin: 0 auto;
}

.stick__sm {
	width: 95px;
	height: auto;
}

.stick__lg {
	width: 170px;
	height: auto;
}

.stick__blue path {
	fill: #3dbafd;
}

.stick__orange path {
	fill: #ffc91b;
}

.btn-2 {
	display: inline-block;
	width: 215px;
	height: 56px;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background-color: transparent;
	border: solid 2px #ffc91b;
	outline: none;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.btn-2:hover, .btn-2:focus, .btn-2:active {
	color: #ffc91b;
	text-decoration: none;
}

.btn {
	position: relative;
	display: inline-block;
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.btn::before, .btn::after {
	content: '';
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-bottom-color: transparent;
	border-top-color: transparent;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.btn__left {
	min-width: auto !important;
}

.btn__left::after {
	display: none;
}

.btn__left.btn__lg {
	padding-left: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

.btn__right {
	min-width: auto !important;
}

.btn__right::before {
	display: none;
}

.btn__right.btn__lg {
	padding-right: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

.btn__sm {
	padding: 0 9px;
	height: 33px;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
}

.btn__sm::before {
	left: -15px;
	border-width: 15px;
	border-left-width: 0;
}

.btn__sm::after {
	right: -15px;
	border-width: 15px;
	border-right-width: 0;
}

.btn__lg {
	min-width: 230px;
	padding: 0 9px;
	height: 71px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
}

.btn__lg::before {
	left: -35px;
	border-width: 35px;
	border-left-width: 0;
}

.btn__lg::after {
	right: -35px;
	border-width: 35px;
	border-right-width: 0;
}

.btn__orange {
	background-color: #ffc91b;
	color: #000;
}

.btn__orange:hover, .btn__orange:focus, .btn__orange:active {
	background-color: #ce9d00;
	color: #000;
}

.btn__orange:hover::before, .btn__orange:focus::before, .btn__orange:active::before {
	border-right-color: #ce9d00;
}

.btn__orange:hover::after, .btn__orange:focus::after, .btn__orange:active::after {
	border-left-color: #ce9d00;
}

.btn__orange::before {
	border-right-color: #ffc91b;
}

.btn__orange::after {
	border-left-color: #ffc91b;
}

.btn__white {
	background-color: #fff;
	color: #000;
}

.btn__white::before {
	border-right-color: #fff;
}

.btn__white::after {
	border-left-color: #fff;
}

.btn__blue {
	background-color: #3dbafd;
	color: #fff;
}

.btn__blue:hover, .btn__blue:focus, .btn__blue:active {
	background-color: #029aeb;
	color: #fff;
}

.btn__blue:hover::before, .btn__blue:focus::before, .btn__blue:active::before {
	border-right-color: #029aeb;
}

.btn__blue:hover::after, .btn__blue:focus::after, .btn__blue:active::after {
	border-left-color: #029aeb;
}

.btn__blue::before {
	border-right-color: #3dbafd;
}

.btn__blue::after {
	border-left-color: #3dbafd;
}

.btn__animate {
	-webkit-animation: phone-fn 2s infinite ease-in-out;
	animation: phone-fn 2s infinite ease-in-out;
}

.btn_pin {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.btn_pin__animate {
	-webkit-animation: pin 2s infinite ease-in-out;
	animation: pin 2s infinite ease-in-out;
}

@-webkit-keyframes phone-fn {
	0% {
		-webkit-transform: rotate(0deg) scale(1) skew(1deg);
		transform: rotate(0deg) scale(1) skew(1deg);
	}

	10% {
		-webkit-transform: rotate(-3deg) scale(1) skew(1deg);
		transform: rotate(-3deg) scale(1) skew(1deg);
	}

	20% {
		-webkit-transform: rotate(3deg) scale(1) skew(1deg);
		transform: rotate(3deg) scale(1) skew(1deg);
	}

	30% {
		-webkit-transform: rotate(-3deg) scale(1) skew(1deg);
		transform: rotate(-3deg) scale(1) skew(1deg);
	}

	40% {
		-webkit-transform: rotate(3deg) scale(1) skew(1deg);
		transform: rotate(3deg) scale(1) skew(1deg);
	}

	100%, 50% {
		-webkit-transform: rotate(0deg) scale(1) skew(1deg);
		transform: rotate(0deg) scale(1) skew(1deg);
	}
}

@keyframes phone-fn {
	0% {
		-webkit-transform: rotate(0deg) scale(1) skew(1deg);
		transform: rotate(0deg) scale(1) skew(1deg);
	}

	10% {
		-webkit-transform: rotate(-3deg) scale(1) skew(1deg);
		transform: rotate(-3deg) scale(1) skew(1deg);
	}

	20% {
		-webkit-transform: rotate(3deg) scale(1) skew(1deg);
		transform: rotate(3deg) scale(1) skew(1deg);
	}

	30% {
		-webkit-transform: rotate(-3deg) scale(1) skew(1deg);
		transform: rotate(-3deg) scale(1) skew(1deg);
	}

	40% {
		-webkit-transform: rotate(3deg) scale(1) skew(1deg);
		transform: rotate(3deg) scale(1) skew(1deg);
	}

	100%, 50% {
		-webkit-transform: rotate(0deg) scale(1) skew(1deg);
		transform: rotate(0deg) scale(1) skew(1deg);
	}
}

@-webkit-keyframes pin {
	0% {
		opacity: .6;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes pin {
	0% {
		opacity: .6;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.design-border {
	position: relative;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	margin-left: -30px;
}

.design-border::after {
	content: ' ';
	display: table;
	clear: both;
}

.design-border_side1 {
	position: absolute;
	left: -3px;
	width: -webkit-calc(100% + 6px);
	width: calc(100% + 6px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.design-border_side1::before, .design-border_side1::after {
	content: '';
	display: inline-block;
	width: -webkit-calc(50% - 8px);
	width: calc(50% - 8px);
	height: 3px;
	background-color: #ffc91b;
}

.design-border_side1 span {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: inline-block;
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-size: contain;
}

.design-border_side2 {
	position: absolute;
	top: 0;
	width: 3px;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.design-border_side2::before, .design-border_side2::after {
	content: '';
	display: inline-block;
	width: 3px;
	height: -webkit-calc(50% - 35px);
	height: calc(50% - 35px);
	background-color: #ffc91b;
}

.design-border_side2 span {
	display: inline-block;
	width: 6px;
	height: 70px;
}

.design-border_side2 span::before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #ffc91b;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.design-border_top {
	top: -2px;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.design-border_top span {
	background-image: url("../img/design-border/top.svg");
	background-position: 50% 0%;
}

.design-border_bottom {
	bottom: -2px;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.design-border_bottom span {
	background-image: url("../img/design-border/bot.svg");
	background-position: 50% 100%;
}

.design-border_left {
	left: -3px;
}

.design-border_right {
	right: -3px;
}

.plashka {
	background-repeat: no-repeat;
	background-size: contain;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
}

.plashka span {
	color: #000;
}

.plashka__sm {
	width: 149px;
	height: 63px;
}

.plashka__lg {
	height: 82px;
	width: 222px;
}

.plashka__lg span {
	font-size: 24px;
	line-height: 36px;
}

.plashka__orange {
	background-image: url(../img/6-plashka.png);
}

.plashka__blue {
	background-image: url("../img/5-plashka.png");
}

@media only screen and (max-width: 1199px) {
  /**/
}

@media only screen and (max-width: 1024px) {
  /**/
}

@media only screen and (max-width: 991px) {
	.design-border {
		width: 100%;
		margin-left: 0;
	}
}

@media only screen and (max-width: 767px) {
	p {
		font-size: 14px;
		line-height: 18px;
	}

	.btn__lg {
		min-width: 200px;
		padding: 0 9px;
		height: 54px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
	}

	.btn__lg::before {
		left: -27px;
		border-width: 27px;
		border-left-width: 0;
	}

	.btn__lg::after {
		right: -27px;
		border-width: 27px;
		border-right-width: 0;
	}

	.design-border_side1 {
		left: 5px;
		width: -webkit-calc(100% - 10px);
		width: calc(100% - 10px);
	}

	.design-border_left {
		left: 5px;
	}

	.design-border_right {
		right: 5px;
	}
}

.header {
	top: -14.8vh;
	opacity: 0;
}

body.ready .header {
	top: 0;
	opacity: 1;
}

.header {
	position: absolute;
	z-index: 15;
	left: 0;
	width: 100vw;
	height: 14.8vh;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.header_logo {
	margin: 5vh 0;
	display: inline-block;
	height: 41px;
}

.header_logo svg {
	height: inherit;
}

.header_menu {
	margin: 5vh 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 41px;
}

.header_menu li {
	height: 41px;
}

.header_menu a {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	line-height: 41px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.header_menu a::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #ffc91b;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	bottom: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.header_menu a:hover::after, .header_menu a.active::after {
	opacity: 1;
}

.header__footer {
	position: static;
	height: 64px;
}

.header__footer .header_logo, .header__footer .header_menu {
	margin: 11px auto;
}

@media only screen and (max-width: 991px) {
	.header_logo {
		display: block;
		width: 150px;
		margin: 2vh auto 1vh;
		text-align: center;
	}

	.header_menu {
		margin: 0;
	}

	.header__footer {
		height: auto;
	}
}

@media only screen and (max-width: 767px) {
	.header_menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		height: auto;
	}
}

.sect {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.sect__pt {
	padding-top: 80px;
}

.sect__pb {
	padding-bottom: 120px;
}

.sect_title {
	margin: 0 0 40px;
	font-family: "Alice", serif;
	font-size: 60px;
	line-height: 55px;
	text-align: center;
}

.sect_title__roboto {
	font-family: "RobotoSlab";
	font-weight: 300;
}

.sect_title__sect-2 {
	line-height: 44px;
	font-weight: 700;
	text-transform: uppercase;
}

.sect_title__sm {
	font-size: 36px;
	line-height: 48px;
}

.sect_title__white {
	color: #fff;
}

.sect_title__dark {
	color: #003348;
}

.sect_desc {
	margin: 40px 0 0;
	text-align: center;
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
}

.sect_desc__white {
	color: #fff;
}

.sect_btm-btn {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

.nav {
	position: fixed;
	z-index: 15;
	top: 50%;
	right: 37px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav li {
	display: block;
	width: 6px;
	height: 6px;
	background-color: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 20px 0;
	-webkit-box-shadow: 0 0 1px 0 #000;
	box-shadow: 0 0 1px 0 #000;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav li:hover {
	background-color: #ffc91b;
}

.nav li:hover > span {
	display: block;
}

.nav li span {
	position: absolute;
	top: 50%;
	right: 30px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #ffc91b;
	width: 160px;
	height: 24px;
	text-align: center;
	display: none;
}

.nav li span::before {
	content: '';
	display: block;
	position: absolute;
	right: -12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-left-color: #ffc91b;
	border-width: 12px;
	border-right-width: 0;
}

@media only screen and (max-width: 767px) {
	.sect__pt {
		padding-top: 60px;
	}

	.sect__pb {
		padding-bottom: 60px;
	}

	.sect_title {
		margin: 0 0 30px;
		font-size: 30px;
		line-height: 35px;
	}

	.sect_title__sect-2 {
		line-height: 21px;
		font-weight: 400;
	}

	.sect_title__sm {
		font-size: 24px;
		line-height: 30px;
	}

	.sect_desc {
		margin: 30px 0 0;
		font-size: 14px;
		line-height: 24px;
	}
}

.sect-1_bg__light {
	opacity: 0;
}

.sect-1_bg__boat-girl {
	-webkit-transform: translate(150%, 150%);
	-ms-transform: translate(150%, 150%);
	transform: translate(150%, 150%);
}

.sect-1_title-text {
	opacity: 0;
	-webkit-transform: scale(0.8) translateY(5vh);
	-ms-transform: scale(0.8) translateY(5vh);
	transform: scale(0.8) translateY(5vh);
}

.sect-1_desc-block {
	opacity: 0;
}

body.ready .sect-1_bg__light {
	-webkit-animation: light-anim 1s ease-in-out;
	animation: light-anim 1s ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

body.ready .sect-1_bg__boat-girl {
	-webkit-animation: boat-girl-anim 2s ease-in-out .5s;
	animation: boat-girl-anim 2s ease-in-out .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

body.ready .sect-1_title-text {
	-webkit-animation: title-text-anim 1s cubic-bezier(0.17, 0.67, 0.47, 1.23) 1s;
	animation: title-text-anim 1s cubic-bezier(0.17, 0.67, 0.47, 1.23) 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

body.ready .sect-1_desc-block {
	-webkit-animation: desc-block-anim 1s ease-in-out 2s;
	animation: desc-block-anim 1s ease-in-out 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes light-anim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes light-anim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes boat-girl-anim {
	0% {
		-webkit-transform: translate(150%, 150%);
		transform: translate(150%, 150%);
	}

	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes boat-girl-anim {
	0% {
		-webkit-transform: translate(150%, 150%);
		transform: translate(150%, 150%);
	}

	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-webkit-keyframes title-text-anim {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8) translateY(5vh);
		transform: scale(0.8) translateY(5vh);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
	}
}

@keyframes title-text-anim {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8) translateY(5vh);
		transform: scale(0.8) translateY(5vh);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
	}
}

@-webkit-keyframes desc-block-anim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes desc-block-anim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.sect-1 {
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/bg/1.jpg");
	overflow: hidden;
}

.sect-1_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.sect-1_bg__1 {
	z-index: 1;
}

.sect-1_bg__2 {
	z-index: 2;
}

.sect-1_bg__3 {
	z-index: 3;
}

.sect-1_bg__boat-girl, .sect-1_bg__light {
	position: absolute;
}

.sect-1_bg__light {
	top: 0;
	right: 0;
	max-width: 100%;
	z-index: 2;
	max-height: 100vh;
}

.sect-1_bg__boat-girl {
	bottom: 0;
	right: 0;
	z-index: 1;
	max-height: 60vh;
}

.sect-1_title-block {
	margin-top: 30vh;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sect-1_title-text {
	margin: 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.sect-1_title-text__1 {
	font-size: 7.5vh;
	line-height: 5.25vh;
	font-weight: 100;
}

.sect-1_title-text__2 {
	margin-top: 6vh;
	font-size: 20vh;
	line-height: 15vh;
	font-weight: 700;
}

.sect-1_desc-block {
	text-align: center;
}

.sect-1_desc-block__1 {
	margin-top: 49.6vh;
}

.sect-1_desc-block__1 svg {
	display: block;
	margin: 0 auto;
}

.sect-1_desc-block__2, .sect-1_desc-block__3 {
	margin-top: 2.9vh;
}

.sect-1_desc-block__4 {
	margin-top: 4.8vh;
}

.sect-1_desc-text {
	color: #fff;
}

.sect-1_desc-text__1, .sect-1_desc-text__2, .sect-1_desc-text__3 {
	margin: 0;
	font-size: 4.2vh;
	line-height: 4vh;
	font-weight: 300;
}

.sect-1_desc-text__1 {
	margin: 1.7vh 0 1.75vh;
}

.sect-1_desc-text__2 {
	font-weight: 700;
}

.sect-1_desc-text__3 {
	font-size: 2.8vh;
}

@media screen and (orientation: portrait) {
	.sect-1_title-block {
		margin-top: 25vh;
	}

	.sect-1_title-text__1 {
		font-size: 5vh;
		line-height: 4vh;
	}

	.sect-1_title-text__2 {
		margin-top: 4vh;
		font-size: 12vh;
		line-height: 10vh;
	}

	.sect-1_desc-block__1 {
		margin-top: 40vh;
	}

	.sect-1_desc-text__1, .sect-1_desc-text__2, .sect-1_desc-text__3 {
		font-size: 3.8vh;
		line-height: 3.6vh;
	}

	.sect-1_desc-text__3 {
		font-size: 2.5vh;
	}
}

@media screen and (orientation: landscape) and (max-width: 767px) {
	.sect-1 {
		min-height: 120vh;
	}
}

@media screen and (orientation: portrait) and (max-width: 767px) {
	.sect-1 {
		background-image: url("../img/bg/1m.jpg");
	}

	.sect-1_bg__2 {
		display: none;
	}
}

.sect-2 {
	background-image: url("../img/bg/2.jpg");
}

.sect-2_table {
	margin-top: 130px;
}

.sect-2_table p {
	margin: 70px;
}

.sect-2_btm-desc {
	margin-top: 90px;
}

@media only screen and (max-width: 991px) {
	.sect-2_table p {
		margin: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.sect-2_table, .sect-2_btm-desc {
		margin-top: 30px;
	}
}

.sect-3 {
	background-image: url("../img/bg/3.jpg");
}

.sect-3_circle {
	width: 215px;
	height: 215px;
	border: solid 2px #3dbafd;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 26px auto 26px;
	position: relative;
}

.sect-3_circle p {
	font-family: "Alice", serif;
	color: #fff;
	text-align: center;
	line-height: .8;
}

.sect-3_circle p:nth-child(2) {
	font-size: 44.4px;
}

.sect-3_circle p:nth-child(1) {
	font-size: 126.8px;
	margin-top: 40px;
}

.sect-3_content {
	margin-top: 130px;
}

.sect-3_arrow {
	width: 194px;
	height: 55px;
	position: absolute;
	border: 2px dotted #3dbafd;
}

.sect-3_arrow__1 {
	top: 21px;
	left: 207px;
	border-left-color: transparent;
	border-top-color: transparent;
}

.sect-3_arrow__2 {
	top: 21px;
	left: -190px;
	border-right-color: transparent;
	border-top-color: transparent;
}

.sect-3_arrow__3 {
	top: 138px;
	left: -190px;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.sect-3_arrow__4 {
	top: 138px;
	left: 207px;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

@media only screen and (max-width: 991px) {
	.sect-3_circle {
		width: 152px;
		height: 152px;
		margin: 31px auto 35px;
	}

	.sect-3_circle p {
		line-height: .8;
	}

	.sect-3_circle p:nth-child(2) {
		font-size: 31.4px;
	}

	.sect-3_circle p:nth-child(1) {
		font-size: 89.7px;
		margin: 13px 0;
	}

	.sect-3_content {
		margin-top: 50px;
	}

	.sect-3_content p {
		margin: 0 0 20px;
	}
}

@media only screen and (max-width: 767px) {
	.sect-3_content {
		margin-top: 0;
	}
}

.sect-4 {
	background-image: url("../img/bg/4.jpg");
}

.sect-4_slider {
	position: relative;
	margin-top: 75px;
}

.sect-4_slider-prev, .sect-4_slider-next {
	position: absolute;
	top: -webkit-calc(50% + 30px);
	top: calc(50% + 30px);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 40px;
}

.sect-4_slider-prev {
	left: -20px;
}

.sect-4_slider-next {
	right: -20px;
}

.sect-4_slider-desc {
	margin-top: 49px;
}

.s4-slider_item {
	text-align: center;
	outline: none;
}

.s4-slider_item:hover .s4-slider_title, .s4-slider_item.slick-current.slick-active .s4-slider_title {
	color: #ffc91b;
}

.s4-slider_item:hover .s4-slider_img-mask::before, .s4-slider_item.slick-current.slick-active .s4-slider_img-mask::before {
	background-color: transparent;
	-webkit-box-shadow: inset 0 0 0 5px #ffc91b;
	box-shadow: inset 0 0 0 5px #ffc91b;
}

.s4-slider_item:hover .s4-slider_btn {
	opacity: 1;
}

.s4-slider_title {
	margin: 0 0 23px;
	color: #fff;
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.s4-slider_img-mask {
	display: inline-block;
	width: 274px;
	height: 176px;
	position: relative;
	overflow: hidden;
}

.s4-slider_img-mask::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.s4-slider_img-mask img {
	width: 100%;
	height: auto;
}

.s4-slider_btn {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.s4-slider-desc_item {
	text-align: center;
	color: #fff;
	outline: none;
}

.s4-slider-desc_item h3 {
	margin: 0 0 15px;
	font-size: 36px;
	font-weight: 300;
}

@media only screen and (max-width: 991px) {
	.sect-4_slider-prev {
		left: 50px;
	}

	.sect-4_slider-next {
		right: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.sect-4_slider {
		margin-top: 45px;
		padding-bottom: 81px;
	}

	.sect-4_slider-prev, .sect-4_slider-next {
		position: absolute;
		top: auto;
		bottom: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		font-size: 40px;
	}

	.sect-4_slider-prev {
		left: -webkit-calc(50% - 45px);
		left: calc(50% - 45px);
	}

	.sect-4_slider-next {
		right: -webkit-calc(50% - 45px);
		right: calc(50% - 45px);
	}

	.s4-slider-desc_item h3 {
		font-size: 24px;
		font-weight: 300;
	}
}

.sect-5 {
	background-image: url("../img/bg/5.jpg");
	background-position: 50% 0;
}

.sect-5_table {
	border: solid 2px #3dbafd;
	margin-top: 56px;
}

.s5-table_head {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}

.s5-table table {
	width: 100%;
	margin: 40px 0;
	border: 1px dashed;
	border-right: none;
	border-left: none;
	border-top-color: #3dbafd;
	border-bottom-color: #3dbafd;
}

.s5-table table:first-child {
	margin: 51px 0 40px;
}

.s5-table table:last-child {
	margin: 40px 0 69px;
}

.s5-table table tr {
	height: 45px;
}

.s5-table table tr td:nth-child(1) {
	text-align: right;
	color: #003348;
}

.s5-table table tr td:nth-child(1) .arrow {
	margin: auto 21px;
}

.s5-table table tr td:nth-child(2) {
	width: 210px;
	text-align: right;
}

.s5-table table tr td:nth-child(2) span {
	display: inline-block;
	position: relative;
	font-size: 12px;
	line-height: 2.0;
	text-align: center;
	color: #fff;
	height: 28px;
	padding: 0 12px;
	-webkit-animation: anim-badges 1s infinite ease-in-out;
	animation: anim-badges 1s infinite ease-in-out;
}

.s5-table table tr td:nth-child(2) span::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: -13px;
}

.s5-table table tr td:nth-child(2) span.gray {
	background-color: #8bb0c4;
}

.s5-table table tr td:nth-child(2) span.gray::before {
	height: 0;
	width: 0;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #8bb0c4;
	border-top: 14px solid transparent;
}

.s5-table table tr td:nth-child(2) span.green {
	background-color: #93c84e;
}

.s5-table table tr td:nth-child(2) span.green::before {
	height: 0;
	width: 0;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #93c84e;
	border-top: 14px solid transparent;
}

.s5-table table tr td:nth-child(2) span.orange {
	background-color: #de895b;
}

.s5-table table tr td:nth-child(2) span.orange::before {
	height: 0;
	width: 0;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #de895b;
	border-top: 14px solid transparent;
}

.s5-table table tr:first-child td:last-child {
	font-size: 42px;
	vertical-align: top;
	text-align: center;
	font-family: "Alice", serif;
	line-height: .8;
	width: 45%;
	padding-top: 8px;
}

.s5-table table tr:first-child td:last-child span {
	font-size: 24px;
}

.s5-table table tr:first-child td:last-child strike {
	font-size: 30px;
	color: #95bdce;
}

.s5-table table tr:first-child td:last-child strike ~ span {
	font-size: 24px;
	color: #95bdce;
}

.s5-table table tr:first-child td:not(:last-child) {
	border-bottom: 1px dashed #3dbafd;
}

.s5-table table tr td {
	border-bottom: 1px dashed #3dbafd;
}

.s5-table table tr:first-child td:not(:last-child) {
	border-bottom: 1px dashed #3dbafd;
}

@-webkit-keyframes anim-badges {
	0%, 100% {
		-webkit-filter: brightness(0.9);
		filter: brightness(0.9);
	}

	50% {
		-webkit-filter: brightness(1);
		filter: brightness(1);
	}
}

@keyframes anim-badges {
	0%, 100% {
		-webkit-filter: brightness(0.9);
		filter: brightness(0.9);
	}

	50% {
		-webkit-filter: brightness(1);
		filter: brightness(1);
	}
}

.s5-list ul {
	list-style: none;
	padding: 0;
	margin: 61px 0;
}

.s5-list ul:first-child {
	margin: 25px 0 25px;
}

.s5-list ul:last-child {
	margin: 25px 0 25px;
}

.s5-list ul li {
	min-height: 61px;
	text-align: center;
	color: #003348;
	border-top: 1px dashed #3dbafd;
	background-color: rgba(126, 192, 227, 0.1);
	padding: 21px 0;
}

.s5-list ul li .arrow {
	margin: auto 21px;
}

.s5-list ul li span {
	display: inline-block;
	padding: 4px 12px;
	font-size: 12px;
	height: 29px;
}

.s5-list ul li span::before {
	display: none;
}

.s5-list ul li span.gray {
	background-color: #8bb0c4;
}

.s5-list ul li span.green {
	background-color: #93c84e;
}

.s5-list ul li span.orange {
	background-color: #de895b;
}

.s5-list ul li:last-child {
	font-size: 42px;
	vertical-align: top;
	text-align: center;
	border-bottom: 1px dashed #3dbafd;
	font-family: "Alice", serif;
	line-height: .8;
	padding: 8px 0;
}

.s5-list ul li:last-child span {
	font-size: 24px;
	padding: 0;
}

.s5-list ul li:last-child strike {
	font-size: 30px;
	color: #95bdce;
}

.s5-list ul li:last-child strike ~ span {
	font-size: 24px;
	color: #95bdce;
}

.sect-6 {
	background-image: url("../img/bg/6.jpg");
}

.sect-6_content {
	margin-top: 69px;
}

.sect-6_content ul {
	margin: 70px;
	padding: 0;
	list-style: none;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}

.sect-6_content ul li {
	position: relative;
	margin-bottom: 15px;
}

.sect-6_content ul.plus li::before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	top: 10px;
	height: 8px;
	width: 12px;
	border: 2px #ffc91b solid;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-top-color: transparent;
	border-right-color: transparent;
}

.sect-6_content ul.minus li::before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	top: 15px;
	height: 2px;
	width: 10px;
	background-color: #ffc91b;
}

@media only screen and (max-width: 991px) {
	.sect-6_content ul {
		margin: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.sect-6_content ul {
		font-size: 14px;
		line-height: 24px;
	}

	.sect-6_content ul.plus li::before,
    .sect-6_content ul.minus li::before {
		display: none;
	}
}

.sect-7 {
	background-image: url("../img/bg/7.jpg");
}

.sect-7_content {
	margin-top: 120px;
}

.sect-7_content > div {
	margin: 25px 0 50px;
}

.sect-7_content p {
	padding: 31px 31px 0px 10px;
	text-align: left;
}

@media only screen and (max-width: 991px) {
	.sect-7_content {
		margin-top: 50px;
	}

	.sect-7_content > div {
		margin: 0;
	}

	.sect-7_content p {
		padding: 0;
		margin-bottom: 35px;
	}
}

@media only screen and (max-width: 767px) {
	.sect-7_icon {
		display: block;
		width: 50px;
		height: 50px;
		margin: 0 auto 20px;
	}

	.sect-7_content p {
		text-align: center;
	}
}

.sect-8 {
	background-image: url(../img/sect-8/stone-1.png), url(../img/sect-8/stone-2.png), url(../img/sect-8/stone-5.png), url(../img/sect-8/stone-3.png), url(../img/sect-8/stone-4.png), url(../img/sect-8/stone-0.png);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 274px -40px, 100% 638px, 150px 80%, 0 50%, 100% 10%, 98% 90%;
	background-size: auto, auto, auto, auto, auto, auto;
}

.sect-8_accordion {
	margin-top: 40px !important;
}

.accordion {
	margin: 0;
	padding: 0;
	list-style: none;
}

.accordion_border {
	height: 25px;
	position: relative;
}

.accordion_border::after {
	content: ' ';
	display: table;
	clear: both;
}

.accordion_border span {
	display: block;
	height: 1px;
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
	position: absolute;
	top: 50%;
	left: 10px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.accordion_border svg:first-child {
	position: absolute;
	left: 0;
	top: 0;
}

.accordion_border svg:last-child {
	position: absolute;
	right: 0;
	top: 0;
}

.accordion_border svg path,
    .accordion_border svg rect {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.accordion_item {
	margin-bottom: 24px;
}

.accordion_item .accordion_border span {
	background-color: #ffc91b;
}

.accordion_item .accordion_border svg path,
    .accordion_item .accordion_border svg rect {
	fill: #ffc91b !important;
}

.accordion_item:not(.open) .accordion_border span {
	background-color: #c8d4de;
}

.accordion_item:not(.open) .accordion_border svg path,
    .accordion_item:not(.open) .accordion_border svg rect {
	fill: #c8d4de !important;
}

.accordion_title {
	margin: 0;
	padding-bottom: 7px;
	cursor: pointer;
}

.accordion_title h3 {
	margin: 0;
	font-family: "Alice", serif;
	color: #003348;
	font-size: 30px;
	line-height: 42px;
	font-weight: 400;
	text-align: center;
}

.accordion_data {
	position: relative;
	padding-top: 100px;
}

.accordion_data::after {
	content: ' ';
	display: table;
	clear: both;
}

.accordion_data svg {
	position: absolute;
	top: 29px;
	left: 50%;
}

.accordion_data p {
	margin-bottom: 25px;
	text-align: left;
	color: #003348;
}

@media only screen and (max-width: 767px) {
	.sect-8 {
		background-image: none;
	}

	.sect-8_accordion {
		padding-left: 15px;
		padding-right: 15px;
	}

	.accordion_item {
		position: relative;
	}

	.accordion_item::before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 13px;
		bottom: 13px;
		left: 15px;
		right: 15px;
		background-color: rgba(220, 195, 135, 0.1);
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.accordion_item:not(.open)::before {
		background-color: rgba(220, 195, 135, 0);
	}

	.accordion_title {
		padding-bottom: 0;
	}

	.accordion_title h3 {
		font-size: 18px;
		line-height: 24px;
	}

	.accordion_data {
		padding-top: 45px;
	}

	.accordion_data svg {
		display: none;
	}

	.accordion_data p {
		text-align: center;
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.sect-9 {
	background-image: url(../img/bg/9.jpg);
}

.sect-9_quote {
	position: relative;
	margin: 0 0 40px;
	font-family: "Alice", serif;
	color: #fff;
	font-size: 30px;
	line-height: 42px;
	text-align: center;
}

.sect-9_quote::before, .sect-9_quote::after {
	position: absolute;
	font-size: 164.1px;
	font-family: "Alice", serif;
	color: #3dbafd;
}

.sect-9_quote::before {
	content: '“';
	top: 0;
	left: 0;
}

.sect-9_quote::after {
	content: '„';
	bottom: 0;
	right: 0;
}

.sect-9_author {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	font-weight: 300;
}

.sect-9_title {
	margin-top: 85px;
}

.sect-9_desc {
	margin: 0;
}

.sect-9_callback {
	display: block;
	margin: 45px auto 0;
}

.sect-9_btm-block {
	margin-top: 90px;
	text-align: center;
}

.sect-9_btm-block h3 {
	margin-bottom: 30px;
	color: #fff;
}

.sect-9_footer {
	margin-top: 50px;
	margin-bottom: 20px;
}

.sect-9_footer p {
	margin: 0;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 700;
}

@media only screen and (max-width: 767px) {
	.sect-9_quote {
		font-size: 18px;
		line-height: 24px;
	}

	.sect-9_quote::before, .sect-9_quote::after {
		font-size: 80px;
		line-height: 80px;
	}

	.sect-9_quote::before {
		top: -40px;
	}

	.sect-9_quote::after {
		bottom: -30px;
	}

	.sect-9_author {
		font-size: 12px;
		line-height: 36px;
	}

	.sect-9_title {
		margin-top: 60px;
	}

	.sect-9_btm-block {
		margin-top: 60px;
	}
}

.popup {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-y: auto;
	opacity: 0;
	display: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.popup.display {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.popup.visible {
	opacity: 1;
}

.popup__lg .popup_wrap {
	width: 845px;
}

.popup__nopadding .popup_content {
	padding: 0;
}

.popup_bg {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(34, 20, 19, 0.9);
}

.popup_wrap {
	position: relative;
	z-index: 1;
	width: 585px;
	height: auto;
	max-height: 100vh;
}

.popup_content {
	margin: 45px 0;
	position: relative;
	padding: 45px 60px;
	background-color: #fff;
}

.popup_close {
	position: absolute;
	top: 0;
	right: -60px;
	width: 60px;
	height: 60px;
	background-color: #ffc91b;
	border: none;
	outline: none;
}

.popup_close::before, .popup_close::after {
	content: '';
	display: block;
	width: 26px;
	height: 2px;
	background-color: #003348;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -13px;
}

.popup_close::before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.popup_close::after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.popup_header {
	position: absolute;
	top: 0;
	left: 34px;
	width: -webkit-calc(100% - 68px);
	width: calc(100% - 68px);
	height: 68px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-top: 13px;
	background-color: #fff;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	color: #333;
	text-align: center;
}

.popup_header a {
	font-weight: 700;
	color: #333;
	text-decoration: none;
}

.popup_header::before, .popup_header::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
}

.popup_header::before {
	left: -33px;
	height: 0;
	width: 0;
	border-bottom: 34px solid transparent;
	border-right: 34px solid #fff;
	border-top: 34px solid transparent;
}

.popup_header::after {
	right: -33px;
	height: 0;
	width: 0;
	border-bottom: 34px solid transparent;
	border-left: 34px solid #fff;
	border-top: 34px solid transparent;
}

.popup_title {
	color: #333;
	font-weight: 700;
	margin-bottom: 20px;
}

.popup_form p {
	margin: 0;
	color: #333;
}

.popup_form p label {
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 0 13px;
}

.popup_form p input {
	width: 100%;
	height: 70px;
	-webkit-box-shadow: 1px 79px 57px -83px rgba(0, 0, 0, 0.24) inset;
	box-shadow: 1px 79px 57px -83px rgba(0, 0, 0, 0.24) inset;
	border: 1px solid #c4d9e2;
	padding: 0 15px;
}

.popup_message {
	margin: 20px !important;
}

.popup_stick {
	margin-top: 45px;
}

.popup_desc {
	color: #333;
	margin-top: 45px;
	margin-bottom: 45px;
}

.popup_or {
	font-size: 24px;
	line-height: 30px;
	margin-top: 45px;
	margin-bottom: 20px;
	text-align: center;
}

.popup_btn {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

.ya-share2__container {
	text-align: center;
}

.ya-share2__item {
	margin: 0 35px !important;
}

@media only screen and (max-width: 991px) {
	.popup__lg .popup_wrap {
		width: 745px;
	}

	.popup__lg .popup_close {
		right: 0;
	}
}

@media only screen and (max-width: 767px) {
	.popup_wrap {
		width: 100vw;
		height: 100vh;
		background-color: #fff;
	}

	.popup_content {
		padding: 0 15px 15px;
		margin: 0;
	}

	.popup_header {
		padding-top: 3px;
		font-size: 14px;
		position: static;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		width: 100%;
	}

	.popup_header::before, .popup_header::after {
		display: none;
	}

	.popup_header a {
		display: inline-block;
	}

	.popup_form p input {
		height: 50px;
	}

	.popup_close {
		right: 0;
		width: 40px;
		height: 40px;
	}

	.popup_stick {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.popup_desc {
		margin-bottom: 25px;
	}

	.popup_or {
		margin-top: 25px;
	}

	.popup_btn {
		position: static;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		display: block;
		margin: 0 auto;
	}
}

.mobile-menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: #13262f;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mobile-menu .header_menu {
	-webkit-transition-delay: .4s;
	transition-delay: .4s;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mobile-menu.display {
	width: 100vw;
	height: 100vh;
}

.mobile-menu.visible .mobile-menu_toggle-btn span {
	background-color: transparent;
}

.mobile-menu.visible .mobile-menu_toggle-btn span::before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mobile-menu.visible .mobile-menu_toggle-btn span::after {
	bottom: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mobile-menu.visible .header_menu {
	opacity: 1;
}

.mobile-menu:not(.display) .header_menu {
	display: none;
}

.mobile-menu:not(.visible) .header_menu {
	opacity: 0;
}

.mobile-menu_toggle-btn {
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	position: absolute;
	background-color: #13262f;
	top: 0;
	left: 0;
}

.mobile-menu_toggle-btn span {
	display: block;
	width: 25px;
	height: 2px;
	background-color: #ffc91b;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mobile-menu_toggle-btn span::before, .mobile-menu_toggle-btn span::after {
	content: '';
	display: block;
	width: inherit;
	height: inherit;
	background-color: #ffc91b;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	position: absolute;
	left: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mobile-menu_toggle-btn span::before {
	top: -8px;
}

.mobile-menu_toggle-btn span::after {
	bottom: -8px;
}
