.sect
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	&__pt
		padding-top: 80px
	&__pb
		padding-bottom: 120px
	&_title
		margin: 0 0 40px
		+Alice
		font-size: 60px
		line-height: 55px
		text-align: center
		&__roboto
			+Roboto
			font-weight: 300
		&__sect-2
			line-height: 44px
			font-weight: 700
			text-transform: uppercase
		&__sm
			font-size: 36px
			line-height: 48px
		&__white
			color: $text-white
		&__dark
			color: $text-dark
	&_desc
		margin: 40px 0 0
		&__white
			color: $text-white
			text-align: center
			font-size: 24px
			line-height: 36px
			font-weight: 300