.sect
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	&__pt
		padding-top: 80px
	&__pb
		padding-bottom: 120px
	&_title
		margin: 0 0 40px
		+Alice
		font-size: 60px
		line-height: 55px
		text-align: center
		&__roboto
			+Roboto
			font-weight: 300
		&__sect-2
			line-height: 44px
			font-weight: 700
			text-transform: uppercase
		&__sm
			font-size: 36px
			line-height: 48px
		&__white
			color: $text-white
		&__dark
			color: $text-dark
	&_desc
		margin: 40px 0 0
		text-align: center
		font-size: 24px
		line-height: 36px
		font-weight: 300
		&__white
			color: $text-white
		&__dark
			color: $text-dark
	&_btm-btn
		position: absolute
		z-index: 1
		bottom: 0
		left: 50%
		transform: translate(-50%, 50%)

.nav
	position: fixed
	z-index: 15
	top: 50%
	right: 37px
	transform: translateY(-50%)
	padding: 0
	margin: 0
	list-style: none
	li
		display: block
		width: 16px
		height: 16px
		margin: 10px 0
		cursor: pointer
		+trs(.3s)
		&::after
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			content: ''
			display: block
			width: 6px
			height: 6px
			background-color: #fff
			border-radius: 50%
			box-shadow: 0 0 1px 0 #000
		&.display
			span
				display: block
		&.visible
			&::after
				background-color: $orange
			span
				opacity: 1
				transform: translate(0, -50%)
		&:hover
			&::after
				background-color: $orange
			> span
				display: block
				opacity: 1
				transform: translate(0, -50%)
		span
			position: absolute
			top: 50%
			right: 30px
			transform: translate(-20px, -50%)
			background-color: $orange
			height: 24px
			padding: 0 15px
			text-align: center
			white-space: nowrap
			display: none
			opacity: 0
			border-top-right-radius: 2px
			border-bottom-right-radius: 2px
			+trs(.3s)
			&::before
				content: ''
				display: block
				position: absolute
				right: -11px
				width: 0
				height: 0
				border-style: solid
				border-bottom-color: transparent
				border-top-color: transparent
				border-left-color: $orange
				border-width: 12px
				border-right-width: 0
	
.top-line
	position: absolute
	top: 0
	left: 0
	z-index: 7
	top: 0
	left: 0
	width: 100vw
	height: 47px
	background-color: $orange
	padding: 8px 0
	p, a
		text-align: left
		margin: 0
		font-size: 14px
		line-height: 30px
		font-weight: 400
		color: #333
	a
		position: relative
		display: inline-block
		font-weight: 700
		padding-left: 25px
		&::before
			content: ''
			display: block
			width: 14px
			height: 18px
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
			background-image: url(../img/calc.svg)
		&:hover, &:focus, &:active
			text-decoration: none

.calc-btn
	position: fixed
	z-index: 50
	top: 100px
	right: 60px
	width: 40px
	height: 40px
	border-radius: 50%
	background-color: $orange
	border: none
	box-shadow: 0 0 0 10px rgba($orange, .6)
	outline: none
	display: none
	opacity: 0
	padding: 0
	+trs(.3s)
	animation: calc-btn-anim 2s ease-in-out infinite
	img, svg
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&.display
		display: block
	&.visible
		opacity: 1

@keyframes calc-btn-anim
	0%
		box-shadow: 0 0 0 0px rgba($orange, .6)
	100%
		box-shadow: 0 0 0 10px rgba($orange, 0)

@media only screen and (max-width : 1199px)
	.top-line
		display: none

@media only screen and (max-width : 1199px)
	.calc-btn
		top: 20px
		right: 20px

@media only screen and (max-width : 767px)
	.sect
		&__pt
			padding-top: 60px
		&__pb
			padding-bottom: 60px
		&_title
			margin: 0 0 30px
			font-size: 30px
			line-height: 35px
			&__sect-2
				line-height: 21px
				font-weight: 400
			&__sm
				font-size: 24px
				line-height: 30px
		&_desc
			margin: 30px 0 0
			font-size: 14px
			line-height: 24px